.name {
  text-align: center;
  h2 {
    // letter-spacing: 0.8rem;
    padding-left: 0.8rem;
  }
}

.onShadow {
  text-shadow: -1px 1px 0 #596776, 1px 1px 0 #596776, 1px -1px 0 #596776,
    -1px -1px 0 #596776;
}

.carusel {
  .off {
    display: none;
  }
}
