.link {
  div {
    position: relative;
    padding: 0px 0px 5px 0px;
    &:after {
      content: '';
      position: absolute;
      bottom: 0px;
      right: 0;
      width: 0%;
      height: 1px;
      background: #f6f6f6;
      transition: all 0.32s ease-out;
    }
    &:last-child:hover {
      cursor: pointer;
    }
    &:hover {
      outline-width: 0;
      &:after {
        left: 0;
        width: 100%;
      }
    }
  }
}

.address {
  &-card {
    position: relative;
    .address-photo {
      height: inherit;
      top: 0;
      z-index: 900;
      -webkit-transform: rotateX(0deg) rotateY(0deg);
      -moz-transform: rotateX(0deg) rotateY(0deg);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    & .address-code {
      height: inherit;
      position: absolute;
      top: 0;
      z-index: 1000;
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    .address-code {
      height: inherit;
      position: absolute;
      top: 0;
      z-index: 1000;
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    &.flip {
      .address-photo {
        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
      }
      .address-code {
        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
      }
    }
  }
}
